<div class="container">
<div class="input-group mb-3">
    <div class="custom-file">
        <input (change)="seleccionarDocumento($event)" type="file" class="custom-file-input" id="inputGroupFile04" aria-activedescendant="inputGroupFileAddon04">
        <label class="custom-file-label" for="inputGroupFile04">Seleccionar foto</label>
    </div>
    <div class="input-group-append">
        <button (click)="subirDocumento()" [disabled]="!documentoSeleccionado" class="btn btn-secondary" type="button" id="inputGroupFileAddon04">Subir</button>
    </div>
</div>
